body{
    background-image: url(images/background-image.jpg);
}
header{
    text-align: center; 
    color: purple; 
    background-color: grey;
    background-size: cover; 
}
#menu{
  
    float: left;
    width: 150px;
    background-color: grey;

    justify-content: center;
    padding-left: 10px;
    

}

main{
    background-color: grey;
    margin-left: 170px;
    border-top:solid 2px rgb(27, 21, 24) ;
    border-bottom: solid 2px  rgb(27, 21, 24);
}

div{
    text-align: center;
}
footer{
    background-color: grey; 
    text-align: center;
    color: purple;
    
}